<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="base :: header">
    <title>About the Author</title>
</head>

<body>
<div th:replace="base :: nav "></div>

<div class="container">
    <h2 align="center">Meet the Designers</h2>
    <div class="row">
        <div class="col-sm-6">
            <img alt="Muhammad Shah"
                 class="profile-picture"
                 src="https://res.cloudinary.com/mhussainshah1/image/upload/c_fill,g_face,h_300,r_50,w_300/v1550870732/blog/shah.jpg"
                 title="Muhammad Shah">
            <br>
            <h2>Muhammad A. Shah</h2>
            <br>
            <p>Oracle Certified Associate Java SE 8 programmer</p>
            <img alt="facebook" class="icon"
                 src="https://res.cloudinary.com/mhussainshah1/image/upload/c_fill,g_face,h_40,r_50,w_40/v1550870732/blog/facebook.png"><a
                href="https://www.facebook.com/mhussainshah1">Facebook</a>
            <br>
            <img alt="linkedin" class="icon"
                 src="https://res.cloudinary.com/mhussainshah1/image/upload/c_fill,g_face,h_40,r_50,w_40/v1550870732/blog/linkedin.png"><a href="https://www.linkedin.com/in/mhussainshah1">LinkedIn</a>
            <br>
            <img alt="github" class="icon"
                 src="https://res.cloudinary.com/mhussainshah1/image/upload/c_fill,g_face,h_40,r_50,w_40/v1550870732/blog/github.png"><a href="https://github.com/mhussainshah1">Github</a>
            <br>
            <img alt="twitter" class="icon"
                 src="https://res.cloudinary.com/mhussainshah1/image/upload/c_fill,g_face,h_40,r_50,w_40/v1550870732/blog/twitter.png"><a href="https://www.twitter.com/amir__shah">@Amir__Shah</a>
        </div>
        <div class="col-sm-6">
            <img alt="Tolani S. Oyefule" class="profile-picture"
                 src="https://res.cloudinary.com/mhussainshah1/image/upload/c_fill,g_face,h_300,r_50,w_300/v1550870732/blog/tolanio.jpg">
            <br>
            <h2>Tolani S. Oyefule</h2>
            <br>
            <p>Healthcare Information Specialist</p>
            <img alt="facebook"
                 class="icon"
                 src="https://res.cloudinary.com/mhussainshah1/image/upload/c_fill,g_face,h_40,r_50,w_40/v1550870732/blog/facebook.png">
            <a href="https://www.facebook.com/tolani.oyefule">Facebook</a>
            <br>
            <img alt="linkedin"
                 class="icon"
                 src="https://res.cloudinary.com/mhussainshah1/image/upload/c_fill,g_face,h_40,r_50,w_40/v1550870732/blog/linkedin.png">
            <a href="https://www.linkedin.com/in/toyefule">LinkedIn</a>
            <br>
            <img alt="github"
                 class="icon"
                 src="https://res.cloudinary.com/mhussainshah1/image/upload/c_fill,g_face,h_40,r_50,w_40/v1550870732/blog/github.png">
            <a href="https://github.com/toyefule">Github</a>
            <br>
            <img alt="twitter" class="icon"
                 src="https://res.cloudinary.com/mhussainshah1/image/upload/c_fill,g_face,h_40,r_50,w_40/v1550870732/blog/twitter.png">
            <a href="https://www.twitter.com/toyefule">@toyefule</a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <img alt="Dag Fasil"
                 class="profile-picture"
                 src="https://res.cloudinary.com/toyefule/image/upload/c_fill,g_face,h_300,r_50,w_300/v1553920404/Dag.jpg"
                 title="Dag Fasil">
            <br>
            <h2>Dag Fasil</h2>
            <br>
            <p>I love my gold chain.</p>
            <img alt="facebook" class="icon"
                 src="https://res.cloudinary.com/mhussainshah1/image/upload/c_fill,g_face,h_40,r_50,w_40/v1550870732/blog/facebook.png"><a
                href="https://www.facebook.com/mhussainshah1">Facebook</a>
            <br>
            <img alt="linkedin" class="icon"
                 src="https://res.cloudinary.com/mhussainshah1/image/upload/c_fill,g_face,h_40,r_50,w_40/v1550870732/blog/linkedin.png"><a href="https://www.linkedin.com/in/mhussainshah1">LinkedIn</a>
            <br>
            <img alt="github" class="icon"
                 src="https://res.cloudinary.com/mhussainshah1/image/upload/c_fill,g_face,h_40,r_50,w_40/v1550870732/blog/github.png"><a href="https://github.com/mhussainshah1">Github</a>
            <br>
            <img alt="twitter" class="icon"
                 src="https://res.cloudinary.com/mhussainshah1/image/upload/c_fill,g_face,h_40,r_50,w_40/v1550870732/blog/twitter.png"><a href="https://www.twitter.com/amir__shah">@Dag__Fasil</a>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <img alt="Nhan J. Huyuh"
                     class="profile-picture"
                     src="https://res.cloudinary.com/toyefule/image/upload/c_fill,g_face,h_300,r_50,w_300/v1553920363/naan-bread-1.jpg"
                     title="Nhan J. Huyuh">
                <br>
            <h2>Nhan J. Huynh</h2>
            <br>
            <p>Intercontinental Baller</p>
            <img alt="facebook"
                 class="icon"
                 src="https://res.cloudinary.com/mhussainshah1/image/upload/c_fill,g_face,h_40,r_50,w_40/v1550870732/blog/facebook.png">
            <a href="https://www.facebook.com/">FaceBook</a>
            <br>
            <img alt="linkedin"
                 class="icon"
                 src="https://res.cloudinary.com/mhussainshah1/image/upload/c_fill,g_face,h_40,r_50,w_40/v1550870732/blog/linkedin.png">
            <a href="https://www.linkedin.com/">LinkedIn</a>
            <br>
            <img alt="github"
                 class="icon"
                 src="https://res.cloudinary.com/mhussainshah1/image/upload/c_fill,g_face,h_40,r_50,w_40/v1550870732/blog/github.png">
            <a href="https://github.com/">Github</a>
            <br>
            <img alt="twitter" class="icon"
                 src="https://res.cloudinary.com/mhussainshah1/image/upload/c_fill,g_face,h_40,r_50,w_40/v1550870732/blog/twitter.png">
            <a href="https://www.twitter.com/toyefule">@NhanGetsDough</a>
        </div>
    </div>
</div>
<div th:replace="base :: footer"></div>
</body>
</html>